################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Example/.vs/Example/v15/Server/sqlite3/storage.ide-wal
/Example/.vs/Example/v15/Server/sqlite3/storage.ide-shm
/Example/.vs/Example/v15/Server/sqlite3/storage.ide
/Example/.vs/Example/v15/Server/sqlite3/db.lock
/node_modules/
